resource/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified"
		   xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="decomposer">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="keep" minOccurs="1">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="path" type="xs:string" minOccurs="1" maxOccurs="unbounded" />
						</xs:sequence>
						<xs:attribute type="xs:string" name="start"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>